body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigator {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-social-list {
  display: flex;
  gap: 40px;
}

.logo-part {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link:hover,
.address-link:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 60px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.hero-button {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  font-weight: 500;
  background-color: #404bbf;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.hero-button:focus {
  background-color: #404bbf;
}

.hero-button-link:focus {
  font-size: 16px;
  background: #404bbf;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.benefits-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.benefits-subtitle {
  font-weight: 500;
  font-size: 56px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.team {
  background-color: #f4f4fd;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
.team-social-icon {
  fill: #f4f4fd;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-item-text {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.sellers-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.reviews-subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}

.reviews-subtitle :hover {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.reviews-item-text {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.reviews-item-text :hover {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  color: #434455;
}

.reviews-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box {
  padding: 32px 0;
  text-align: center;
}

.sellers-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.reviews-subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.reviews-subtitle :hover {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: capitalize;
  color: #2e2f42;
}

.reviews-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.product-box {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  text-align: left;
}

.overlay-box {
  overflow: hidden;
  position: relative;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.reviews-item:hover .overlay-text {
  transform: translatey(0%);
}
.thumb {
  flex-wrap: wrap;
  display: flex;
  gap: 48px 24px;
}

.reviews-item-text :hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio {
  padding: 120px 0 120px 0;
}

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.gap footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
}

.footer-logo-box {
  margin-right: 120px;
}

.letter {
  color: #f4f4fd;
}

.footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
}

.footer-social-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-text {
  font-weight: 400;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.modal {
border-radius: 4px;
width: 408px;
min-height: 584px;
position: absolute;
top: 50%;
left: 50%;
background-color: #FCFCFC;
transform: translate(-50%, -50%);
padding: 72px 24px 24px 24px;
}

.close-btn {
border-radius: 50%;
width: 24px;
height: 24px;
position: absolute;
top: 24px;
right: 24px;
border: 1px solid  rgba(0, 0, 0, 0.1);
background-color: #E7E9FC;
padding: 0;
cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404BBF;
  border: none;
} 

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #FFFFFF;
}

.modal-title {
font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 16px;
}

.modal-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
display: block;
}
 
.modal-input {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
background: transparent;
padding-left: 38px;
outline: transparent;
}

.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-input:focus +.modal-icon {
  fill: #4D5AE5; 
}

.modal-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translatey(-50%);
}

.modal-box {
  margin-bottom: 8px;
}

.modal-text {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
padding: 8px 16px;
outline: transparent;
resize: none;
}

.modal-text::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border-color: #4D5AE5;
}